<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Rincón del Lector - Inicio de Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro.css') }}">
</head>
<body>
    <div class="navbar">
        <span>EL RINCÓN DEL LECTOR</span>
        <div class="nav-buttons">
            <button onclick="location.href='{{ url_for('registro') }}'">REGISTRARSE</button>
        </div>
    </div>

    <div class="container">
        <h1>INICIO DE SESIÓN</h1>
        <form method="POST" action="{{ url_for('login_post') }}">
            <label for="email">CORREO</label><br>
            <input type="email" id="email" name="email" placeholder="juan@example.com" required><br>

            <label for="contrasena">CONTRASEÑA</label><br>
            <input type="password" id="contrasena" name="contrasena" placeholder="Ingresa tu contraseña" required><br>

            <input type="checkbox" id="remember"><label for="remember">Recordar contraseña</label><br>

            <button type="submit" class="login-btn">INICIAR SESIÓN</button>
        </form>

        <div class="links">
            <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
</body>
</html>
