
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>El Rincón del Lector</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="header">EL RINCÓN DEL LECTOR
        <div class="profile-section">
            <div class="dropdown">
                <span>USUARIO NAME ▼</span>
                <div class="dropdown-content">
                    <a href="usuario.html">Mi perfil</a>
                    <a href="pag_inicio.html">Cerrar sesión</a>
                </div>
                <div class="profile-icon">
                    <img src="alison.jpg" alt="Foto de usuario" />
                </div>
            </div>
            <button onclick="location.href='pag_prin.html'">↩</button>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-item"></div><br />
        <div class="rating">★★★★★</div><br />
        <div class="comment-box">
            <div class="comment-actions">
                <button onclick="like()">👍</button>
                <button onclick="reply()">Responder</button>
                <button onclick="dislike()">👎</button>
            </div>
        </div>
        <div class="comment-input">
            <input type="text" placeholder="Inserta un comentario" id="commentInput"/>
            <button onclick="submitComment()">➤</button>
        </div>
    </div>

    <div class="background-text">LECTOR</div>

    <script src="scripts.js"></script>
</body>
</html>
