<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>El Rincón del Lector</title>
    <link rel="stylesheet" href="perfil.css" />
</head>
<body>
    <div class="header">
        <span>EL RINCÓN DEL LECTOR</span>
        <div class="buttons">
            <button onclick="goToLogin()">INICIO DE SESIÓN</button>
            <button onclick="goToRegister()">REGISTRARSE</button>
        </div>
    </div>

    <div class="logo-container">
        <img src="inicio.png" alt="Logo El Rincón del Lector" class="logo" />
    </div>

    <script src="scripts.js"></script>
</body>
</html>


