<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>El Rincón del Lector</title>
    <link rel="stylesheet" href="usuario.css" />
</head>
<body>
    <div class="header">
        EL RINCÓN DEL LECTOR
        <div class="profile-section">
            <div class="dropdown">
                <span>USUARIO NAME ▼</span>
                <div class="dropdown-content">
                    <a href="pag_prin.html">Inicio</a>
                    <a href="pag_inicio.html">Cerrar sesión</a>
                </div>
                <div class="profile-icon">
                    <img src="alison.jpg" alt="Foto de usuario" />
                </div>
            </div>
        </div>
    </div>

    <div class="more">
        <img src="alison.jpg" alt="Foto de usuario" />
    </div>

    <div class="saved-section">GUARDADOS</div>
    <div class="circle">70%<br>libros<br>romance</div>

    <script src="guardados.js"></script>
</body>
</html>
